<html>
    <h1>Convert Text to Speech</h1>
<form method="post" action="/">
<textarea name="text" id="" cols="30" rows="10"></textarea>
<input type="submit" value="Convert text to mp3">

</form>
    </html>